.display{
    font-size: 42px;
    height:80px;
    width: 64%;
}
.btn{
width: 15%;
}
.btn:hover{
    border-color: #2a9d8f !important;
    color:#e9c46a !important;
    background-color: #264653 !important;
}
.btnCnt{
    width: 19.3%;
}
.btnCnt:hover{
    border-color: #2a9d8f !important;
    color: #e9c46a !important;
    background-color: #264653 !important;
}
